@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Antic&display=swap');
body{
    color:#e3e5e6;
}
.section1{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color:#081f2c;
} 
.soccer{
    width: 40px;
    margin:0 0 0 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-content: center; 
}
.navbar li {
    margin-right: 15px;
}
.navbar ul :hover{
    opacity: 1.5;
    transition: 0.3s;
    font-size: 17px;
}
