@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body{
    background-color:#e3e5e6;
}
.section1{
    width: 100%;
    margin: 0 auto;
    background-color:#0d2d3f;
} 
.soccer{
    width: 40px;
    margin:10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-content: center; 
}
.navbar li {
    margin-right: 15px;
    font-family: 'Pragati Narrow', sans-serif;
}
.navbar ul :hover{
    opacity: 1.5;
    transition: 0.3s;
    font-size: 17px;
}
.aboutnews{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.messi6{
    width: 50%;
    margin-top: 30px;
}
.newstitle{
    width: 500px;
    font-family: 'Pragati Narrow', sans-serif;
    margin-top: 10px;
}
.description{
    font-size: 25px;
    width: 500px;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
}
.strong a{
    text-decoration: none;
}
.text5{
    width: 500px;
}

.messi{
    width: 400px;
}
.interview p{
    font-size: 20px;
    width: 500px;
    margin-top: 10px;
}
.footballer{
    font-size: 15px;
    margin-top: 10px;
    color: lightslategray;
}
.section4{
    width: 150px;
    margin: 30px 30px 15px 0px;
    padding: 10px;
    float: right;
}
.icons{
    width: 40px;
    padding: 2px;
}
