@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Antic&display=swap');
.section1{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color:black;
} 
.foots{
  background-image: url("images/foots.jpg");
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  background-size: cover; 
}
.soccer{
    width: 40px;
    margin:0 0 0 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-content: center; 
}
.navbar ul :hover{
    opacity: 1.5;
    transition: 0.3s;
    font-size: 17px;
}
