/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body{
    background-color:#e3e5e6;
}
.section1{
    width: 100%;
    margin: 0 auto;
    background-color:#0d2d3f;
} 
.soccer{
    width: 40px;
    margin:10px;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center; 
}
.navbar li {
    margin-right: 15px;
    font-family: 'Pragati Narrow', sans-serif;
}
.navbar ul :hover{
    opacity: 1.5;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 17px;
}
.ucl-page{
    width: 100%;
    max-width: 1370px;
    margin:0 auto;
}
.uefa-cl{
    width: 100%;
    position: relative;   
}
.navs{
    width: 100%;
    max-width: 1370px;
    margin:0 auto;
    margin-top: 30px;
    
}
.navs ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1370px;
    border-bottom: solid 1px #0d2d3f;
}
.navs a{
    text-decoration: none;
    padding: 50px;
    font-size: 17px;
    font-family: 'Pragati Narrow', sans-serif;
    color: #0d2d3f;
}
.back-icon{
    width: 40px;
    margin-left: 50px;
}
.navs ul :hover{
    font-size: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
}
@media screen and (max-width:768px) {
    .uefa-cl{
        width: 100%;
    }
    .navs ul{
        width: 100%;
    }
}